// Fonts
@import 'fonts';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.login-title {
    font-family: Raleway-Medium;
    font-size: 24px;
    color: #000;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    display: block;
}

.login100-form-btn {
    font-family: Raleway-Bold;
    font-size: 16px;    
    color: #FFF;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 55px;
    background-color: #2a7dbf;
    border-radius: 27px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100 {
    color: #000;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: transparent;
    height: 55px;
    padding: 0 25px 0 25px;
    border-radius: 2px;
    border-color: #e6e6e6;
}

.txt1 {    
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: #000;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 4px;
}

.txt3 {
    font-family: Raleway-Regular;
    font-size: 13px;
    color: #000;
    line-height: 1;
    
    &:hover {
        text-decoration: none;
        color: #57b846;
    }
}

.signuph3 {
    font-family: sans-serif;
}

.signup100 {
    font-style: italic;
    color: #c7a92d;
    font-family: sans-serif; 
    font-size: 16px;
}

.txtb {
    background-color: #FFF;
    color: #fff;
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
    
    label {
        display: block;
        text-align: left;
        color: #666;
        text-transform: uppercase;
        font-size: 14px;
        font-family: sans-serif;
    }
    
    input {
        width: 100%;
        border: none;
            border-bottom-color: currentcolor;
            border-bottom-style: none;
            border-bottom-width: medium;
        border-bottom: 1px solid #333;
        background: none;
        outline: none;
        font-size: 18px;
        margin-top: 6px;
    }
}

.dashboard {
    
    .container {
        width: 100%;
        max-width: 100% !important;
        
        .side-nav-admin,
        .side-nav {
            float: left;
            width: 200px;
            margin-right: 15px;
            background: #fff;
            
            ul {
                margin: 0;
                padding: 0; 
                
                li {
                    padding: 16px 16px;
                    border-bottom: 1px solid #3c506a;
                    position: relative;
                    
                    a {
                        text-align: left;
                        color: #000;
                        display: block;
                        text-decoration: none;
                    }
                    
                    i {
                        font-size: 16px;
                        color: #09487a;
                        min-width: 20px;
                        text-align: center;
                    }
                    
                    span {
                        
                        &:nth-child(2) {
                            margin-left: 10px;
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                    
                    ul {
                        list-style: none;
                        
                        li {
                            padding-top: 18px;
                            padding-bottom: 0px;
                            opacity: .5;
                            margin-bottom: 0;
                            margin-left: 0;
                            margin-right: 0;
                            border-bottom: none;
                            
                            a {
                                font-size: 12px;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
        
        .side-nav-admin {
            width: 250px;
        }
    }
}

.form-container {
    background: #fff;
    border: 1px solid #d3d3d3;
    
    form {
        
        .form-header {
            border-top: 5px solid #294f1f;
            background: #4e933b;
            color: #fff;

            h2 {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 22px;
            }
        }
        
        .form-group {
            margin-bottom: 0;
            padding-top: 10px;
        }

        .head {
            font-family: 'Arial Black', Gadget, sans-serif;
            font-size: 16px;
        }
        
        .field {
            border-bottom: 1px solid #d3d3d3;
            
            &:hover {
                background: #f2f2f2;
            }
            
            label {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                color: #666;
            }
        }
    }
}