/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 4, 2021, 9:42:55 AM
    Author     : User
*/

@font-face {
    font-family: 'Raleway-Medium';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway/Raleway-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'Raleway-SemiBold';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway/Raleway-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway/Raleway-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway/Raleway-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format("truetype");
}